<div class="menuLogged">
    <div class="notification">
        <mat-icon  matBadge="23" class="notification" matBadgeColor="warn" aria-label="notification">
            notifications
        </mat-icon>
    </div>
    <div class="cardLogin">
        <div class="image">
            <img src="assets/images/default_user.png" width="40px">
        </div>
        <div class="info" *ngIf="this.user != null">
            <div class="name">{{ this.user.nome }}</div>
            <div class="role">{{ this.user.role }}</div>
        </div>
        <div class="info" *ngIf="this.user == null">
            <div class="name">{{ 'Entrar' }}</div>
            <div class="role">{{ 'Cadastrar' }}</div>
        </div>
        <div class="more">
            <mat-icon aria-hidden="false" aria-label="Expandir para mais">expand_more</mat-icon>
        </div>
    </div>
</div>