<div class="menuLogged">
    <div class="notification">
        <mat-icon  matBadge="23" class="notification" matBadgeColor="warn" aria-label="notification">
            notifications
        </mat-icon>
    </div>
    <div class="cardLogin">
        <div class="image">
            <img src="assets/images/default_user.png" width="40px">
        </div>
        <div class="info">
            <div class="name">Teste</div>
            <div class="role">Produtor</div>
        </div>
        <div class="more">
            <mat-icon aria-hidden="false" aria-label="Expandir para mais">expand_more</mat-icon>
        </div>
    </div>
</div>