<div class="register">
    <header>
        <mat-icon class="arrowBack" (click)="onClickBack()">arrow_back</mat-icon>
        <h1>Cadastrar</h1>
    </header>
    <form [formGroup]="this.form" (ngSubmit)="onSubmit()">
        <div *ngFor="let input of this.schema.fields">
            <label for="{{input.id}}">{{input.label}}:</label>
            <div *ngIf="input.group; else elseBlock">
                <div formGroupName="{{input.group}}">
                    <input [formControlName]="input.name" [type]="input.type" [name]="input.name" [id]="input.id"
                        [placeholder]="input.placeholder">
                </div>
            </div>
            <ng-template #elseBlock>
                <input [formControlName]="input.name" [type]="input.type" [name]="input.name" [id]="input.id"
                    [placeholder]="input.placeholder">
            </ng-template>

        </div>

        <button type="submit">Salvar {{this.schema.resourceName}}</button>
    </form>
</div>