.register{
    width: 60%;
    max-height: 100vh;
    overflow: hidden;
    border-right: 1px solid var(--grayDefault);
}

header{
    margin-left: 30px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 24px auto;
    column-gap: 30px;
}

.arrowBack{
    margin-top: 5px;
    cursor: pointer;
}

.arrowBack:hover{ opacity: .8; }

.register form{
    display: grid;
    grid-template-rows: auto;
    row-gap: 20px;
    width: 50%;
    margin: 30px auto;
    
}

form div{
    display: grid;
    grid-template-columns: minmax(50px, 130px) auto;
    column-gap: 30px;
}

label{
    font-size: 1.2em;
    font-weight: 400;
    line-height: 2.5em;
    color: #303030;
}

input{
    border: 0;
    background-color: var(--grayDefault);
    padding-left: 5px;
    outline: none;
    cursor: pointer;
    opacity: .5;
    height: 40px;    
}


button{
    margin-top: 40px;
    height: 40px;
    border: none;
    background-color: var(--hoverColor);
    color: #fff;
    font-weight: thin;
    font-size: 1.1rem;
    cursor: pointer;
}
button:hover{
    opacity: .7;
}