.card{
    background-color: var(--hoverColor);
    width: 230px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.card .left{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 20px;
    color: #fff;
}

.subtitle{
    font-size: 12px;
    color: #fff;
}

.right{
    flex-grow: 2;
    text-align: right;
}

.card img{
    width: 100px;
}

.bgSpinner{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--colorSpinnerBg);
  margin-top: 15px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

:host ::ng-deep .spinner circle{   
    stroke: var(--colorSpinner);
}



.value{
  position: absolute;
  font-weight: thin;
  color:#fff;
  margin-top: 4px;
}

/* END PROGRESS CIRCLE */