<div class="sidebar">

    <div class="brand">
    </div>
    <ul>
        <span *ngFor="let menuItem of menuItems" >
           
           <li class="menuItem" [routerLink]="menuItem.routerLink || '' " routerLinkActive="iconActive" [routerLinkActiveOptions]="{exact: true}">
            <div class="iconSvg" [routerLinkActive]="menuItem.iconActive ||'' " [class]="menuItem.class"></div>
            <span class="menuItemTexto" [routerLinkActive]="menuItem.textActive ||'' ">{{menuItem.text}}</span>
           </li>
        </span>
    </ul>
</div>