<div class="backgroundBlack">
    <form [formGroup]="this.form" (submit)="onClickToSignIn()">
        <div class="first-column">
            <div class="logo"></div>
            <mat-form-field appearance="fill">
                <mat-label>Usuário</mat-label>
                <input matInput name="email" formControlName="email" placeholder="Ex. email@email.com" type="email">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input matInput name="password" formControlName="password" placeholder="*****" type="password">
            </mat-form-field>

            <div class="buttons">
                <button class="default" [style.backgroundColor]="isFieldsWithValues() ? 'var(--hoverColor)' : '#ddd'">
                    <span>ENTRAR</span>
                </button>
                <button class="google" type="button" (click)="clickGoogleLoginAuth()">
                    <img src="https://cdn-icons-png.flaticon.com/512/2991/2991148.png">
                    <span>Entrar com Google</span>
                </button>

                <button class="facebook" (click)="loginWithFacebook()">
                    <span>Facebook</span>
                </button>

            </div>
        </div>

        <div class="close" (click)="clickToCloseLoginModal()">x</div>
    </form>
</div>