<div class="eventoPage">
    <section class="evento">
        <section class="produtosEvento">
            <header>
                <h2>Estoque Atual</h2>
            </header>
            
            <div class="listProductEvent">
                <app-cardcolored [cards]="this.cards"></app-cardcolored>
            </div>
        </section>

        <header>
            <div class="back">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
            </div>
            <h1>Eventos</h1>
        </header>

        <section class="searchInput">
            <app-search-input></app-search-input>
        </section>

        <section class="list-eventos">
            <app-list-card
                *ngIf="this.events.length > 0"
                [listCard]="this.events" 
                
                (changedCard)="onChangedCard($event)">
            </app-list-card>
        </section>

    </section>

    <section class="eventStatistic">
        <div class="cardStatistic">
            <header>
                <h2>Estatítsticas</h2>
            </header>

            <div class="cardSimples">
                <app-card-simple [width]="130" [height]="130"></app-card-simple>
            </div>
        </div>

        <div class="cardGraph">
            <header>
                <h2>
                    Pontos de Vendas
                </h2>
            </header>
            
            <div class="graphBar">
                <app-graph-bar></app-graph-bar>
            </div>
        </div>
    </section>
    
</div>