.eventoPage{
    display: flex;
    flex-direction: row;
}
.evento{
    margin-top: 0px;
    margin-left: 15%;  /* SIDEBAR WIDTH */
    width: 60%;
    height: 100vh;
    max-height: 100vh;
    border-right: 1px solid var(--grayDefault);
}

/* HEADERS  */
header{
    padding-top: 35px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
}

header h1{
    font-size: 30px;
    font-weight: bold;
}

.evento header .back{
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}
.evento header .back:hover{
    opacity: .3;
}

.evento header .back svg{
    line-height: 2.7em;
}

header h2{
    font-size: 25px;
    font-weight: bold;
}
/* FIM HEADERS */


/* PRODUTOS EVENTOS */

/* FIM PRODUTOS EVENTOS */



.eventoEstatistica{
    width: 25%;
    height: 100vh;
}

/* SEARCH INPUT */
.searchInput{
    padding-left: 30px;
    margin-top: 1rem;
}

/* LIST EVENTS */
.list-eventos{
    margin-left: 30px;
    margin-top: 30px;
    padding-bottom: 10px;
    height: 600px;
    overflow-x: hidden;
    border-bottom: 1px solid #eee;
    border-bottom-right-radius: 50px;
}

.list-eventos app-list-card{
    display: grid;
    grid-template-columns: repeat(auto-fill, 420px);
    row-gap: 10px;
    column-gap: 50px;
}


/* LIST PRODUTOS EVENTO */
.listProductEvent{
    margin-left: 30px;
    padding-bottom: 10px;
}
.listProductEvent app-cardColored{
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    column-gap: 20px;
    row-gap: 25px;
}

/* EVENT STATISTICS */
.eventStatistic{
    height: 100vh;
    width: 25%;
}

.cardStatistic{
    margin-top: 70px;
}

.cardSimples{
    margin-left: 30px;
}

.cardSimples app-card-simple{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    row-gap: 20px;
    column-gap: 20px;
}

.graphBar{
    margin-left: 30px;
}
/* END EVENT STATISTICS */



/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
    display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .list-eventos:hover + ::-webkit-scrollbar{
      display: block;
  }